<section id="projects">
    <div class="container">
      <h2 class="text-center my-4">Projects</h2>
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Portfolio Website</h5>
              <p class="card-text">Developed a personal portfolio website to showcase projects using Angular and Bootstrap. 
                Implemented responsive design to ensure compatibility with various devices.</p>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Application with REST Controller</h5>
              <p class="card-text"> Developed a web application using Spring Boot with a RESTful web service, handling 
                data via web dependency integration.</p>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Forms with Vaidations</h5>
              <p class="card-text">A dynamic form created using Angular with form group, form control, and validators for 
                handling user input, designed with Bootstrap for responsiveness.</p>
            </div>
          </div>
        </div>
          
      </div>
    </div>
</section>
  
  
